<h1>Our Data</h1>

<p>Data reliability is an important aspect of our service.  We have gathered our vehicle data from long-standing providers
such as <%= link_to 'National Insurance Crime Bureau', 'http://www.nicb.org' %>, the original manufacturers, as well as data
we have gathered from years of running VIN decoding services.  We ensure accuracy of our data by validating it against our database of
over 10 million North American VINs to make sure the information is valid and accurate.</p>

<%= link_to 'List of Modern data categories', modern_categories_path %>

<h2>Classic Cars</h2>
<p>Another unique aspect to our data is our ability to decode classic car VINs from 1955 through 1980.  This allows us to provide an
unbroken set of data for sixty years of vehicles.  We've gathered our data from manufacturer documentation and archives, as well as supplementing
the information with our years of knowledge of classic car data.  There is no additional charge for classic car decodes; just send a VIN less than
17 characters long and it will be assumed to be for a classic vehicle and automatically decoded.</p>

<p><b>Note:</b> that the classic car data is currently in beta. We are working to complete our data upload and validation of the classic car information.
  Once completed the service will be released from beta and be an automatic part of all subscriptions.</p>

<%= link_to 'List of Classic data categories', classic_categories_path %>