<h1>Mobile Applications</h1>

<p><%= ENV['SITE_NAME'] %> was built from the ground up to support mobile applications.  iPhone and Android applications that require vehicle
decoding services can rely on our data to provide accurate and highly available solution for their requirements.</p>

<p>Our data is available in either JSON or XML, depending on your needs.  Make a REST-ful request against our API and you'll have
either the full set of data for a vehicle, or a limited Year, Make, Series, Trim data set for your needs.  We can also tailor the API to return
only the data you want, in order to conserve bandwidth and maximize response time.</p>

<p>Since the data is </p>