<div style="padding: 10px">
  <h1>Privacy Policy</h1>

  This is the web site of <b><%= ENV['SITE_NAME'] %></b>.<br>
  We can be reached via e-mail at <a href="mailto:<%= ENV['SUPPORT_EMAIL'] %>?subject=<%= ENV['SITE_NAME'] %>%20question"><%= ENV['SUPPORT_EMAIL'] %></a>
  <br>
  or you can reach us by telephone at (440) 628-4167
  <br>
  <p>For each visitor to our Web page, our Web server automatically recognizes no information regarding the domain or
    e-mail address.</p>

  <p>We collect the e-mail addresses of those who communicate with us via e-mail, information volunteered by the
    consumer, such as survey information and/or site registrations.</p>

  <p>The information we collect is used to customize the content and/or layout of our page for each individual
    visitor, used to notify consumers about updates to our Web site, , disclosed when legally required to do so, at
    the request of governmental authorities conducting an investigation, to verify or enforce compliance with the
    policies governing our Website and applicable laws or to protect against misuse or unauthorized use of our
    Website.</p>

  <p>With respect to cookies: We use cookies to store visitors preferences, record session information, such as items
    that consumers add to their shopping cart, customize Web page content based on visitors' browser type or other
    information that the visitor sends.</p>

  <p>If you do not want to receive e-mail from us in the future, please let us know by sending us e-mail at the above
    address.</p>

  <p>With respect to Ad Servers: We do not partner with or have special relationships with any ad server companies.

  <p>From time to time, we may use customer information for new, unanticipated uses not previously disclosed in our
    privacy notice.
    If our information practices change at some time in the future we will post the policy changes to our Web site to
    notify you of these changes and provide you with the ability to opt out of these new uses. If you are concerned
    about how your information is used, you should check back at our Web site periodically.</p>
  Customers may prevent their information from being used for purposes other than those for which it was originally
  collected by e-mailing us at the above address.
  <p>Upon request we provide site visitors with access to all information [including proprietary information] that we
    maintain about them, unique identifier information (e.g., customer number or password) that we maintain about
    them,
    transaction information (e.g., dates on which customers made purchases, amounts and types of purchases) that we
    maintain about them.</p>
  Consumers can access this information by e-mail us at the above address.
  <p>Upon request we offer visitors the ability to have inaccuracies corrected in contact information, financial
    information.</p>
  Consumers can have this information corrected by sending us e-mail at the above address.
  <p>With respect to security: When we transfer and receive certain types of sensitive information such as financial
    or health information, we redirect visitors to a secure server and will notify visitors through a pop-up screen on
    our site.</p>

  <p>If you feel that this site is not following its stated information policy, you may contact us at the above
    addresses or phone number.</p>


</div>
</div>