<nav id="main-nav">
  <div class="navigation">

    <!-- search form visible on phone -->
    <div class="search">
      <form accept-charset="UTF-8" action="search_results.html" method="get">
        <div class="search-wrapper">
          <input autocomplete="off" class="search-query" id="q" name="q" placeholder="Search..." type="text" value="">
          <button class="btn btn-link icon-search" name="button" type="submit"></button>
        </div>
      </form>
    </div>

    <!-- navigation items -->
    <ul class="nav nav-stacked">

      <li>
      <%= link_to dashboard_path do %>
        <i class="icon-dashboard"></i>
          <span>Dashboard</span>
      <% end %>
      </li>

      <li>
        <%= link_to dashboard_account_path do %>
            <i class='icon-user'></i> Account
        <% end %>
      </li>

    </ul>
  </div>
</nav>